<div class="container mt-4"> 

    <h1>
    Clientes cadastrados:
    </h1>
    <hr>
    {{#each clientes}} <!--Referenciar o nome da tabela do banco de dados-->
        <div class="card mt-4">
            <div class="card-body">
                <h2>{{dataValues.id}}</h2>
                <h4>{{dataValues.name}}</h4>
                <h4>{{dataValues.lastName}}</h4>
                <h4>{{dataValues.cpf}}</h4>
                <h4>{{dataValues.address}}</h4>
                <h4>{{dataValues.number}}</h4>
                <h4>{{dataValues.createdAt}}</h4>

                <a href="http://localhost:8081/receptionist/deletar/{{dataValues.id}}">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Deletar usuario</button>
                </a>
                <a href="http://localhost:8081/receptionist/searched/{{dataValues.id}}">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Verificar usuario</button>
                </a>

            </div>
        </div>
        <hr>    
    {{/each}}
    
    <br><br>
    <a href="http://localhost:8081/receptionist/addClient">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Cadastrar cliente</button>
    </a>    

    <a href="http://localhost:8081/receptionist/index">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Voltar para pagina inicial</button>
    </a>
</div>

