<div class="container mt-4"> 

    <h1>
    Quartos:
    </h1>
    <hr>


    {{#each quartos}} <!--Referenciar o nome da tabela do banco de dados-->
        <div class="card mt-4">
            <div class="card-body">
                <h2>Quarto: {{dataValues.numberq}}</h2>
                <h5>Diária: R${{dataValues.diaria}}</h5>
                <h5>Max. de pessoas: {{dataValues.npessoas}}</h5>
                {{#if dataValues.disponivel}}
                      <h5>Status: <h5 style="color: #0f0;">Disponivel</h5></h5>
                    <a href="http://localhost:8081/admin/addClient">
                        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:10px;">Cadastrar Reserva</button>
                    </a>    
                {{else}}
                      <h5>Status: <p style="color: #f00;">Ocupado</p></h5>
                {{/if}}
                <hr>
                <a href="http://localhost:8081/receptionist/liberar/{{dataValues.numberq}}">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:10px;">Liberar Quarto</button>
                </a>     
            </div>
        </div>
        
        <hr>    
    {{/each}}

    <a href="http://localhost:8081/receptionist/index">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-bottom:100px; ">Voltar para Página Inicial</button>
    </a>

</div>