  {{#each clientes}}
        <div class="card mt-4" style="margin-bottom: 150px;">
            <div class="card-body">
                <h2>{{dataValues.id}}</h2>                
                <h4>N° do Quarto: {{dataValues.nquarto}}</h4>
                <h4>Nome: {{dataValues.name}}</h4>
                <h4>Sobrenome: {{dataValues.lastName}}</h4>
                <h4>Email: {{dataValues.email}}</h4>
                <h4>Telefone: {{dataValues.number}}</h4>
                <h4>Check-in: {{dataValues.checkin}}</h4>
                <h4>Check-out: {{dataValues.checkout}}</h4>
                
                <a href="http://localhost:8081/admin/edit/{{dataValues.id}}">
                    <button class="btn btn-success">Editar</button>
                </a>

            </div>
        </div>
  {{/each}}
