  {{#each clientes}}
        <div class="card mt-4">
            <div class="card-body">
                <h2>{{dataValues.id}}</h2>
                <h4>{{dataValues.name}}</h4>
                <h4>{{dataValues.lastName}}</h4>
                <h4>{{dataValues.cpf}}</h4>
                <h4>{{dataValues.address}}</h4>
                <h4>{{dataValues.number}}</h4>

                <a href="http://localhost:8081/admin/edit/{{dataValues.id}}">
                    <button class="btn btn-success">Editar</button>
                </a>
            </div>
        </div>
  {{/each}}

  
    
        

