<div class="container mt-4"> 

    <h1>
    Usu치rios cadastrados:
    </h1>
    <hr>
    {{#each usuarios}} <!--Referenciar o nome da tabela do banco de dados-->
        <div class="card mt-4">
            <div class="card-body">

                <h4>{{dataValues.name}}</h4>
                <h4>{{dataValues.lastName}}</h4>
                <h2>{{dataValues.login}}</h2>
                <h4>{{dataValues.password}}</h4>
                

                <a href="http://localhost:8081/admin/deletar/{{dataValues.id}}">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:10px;">Deletar usu치rio</button>
                </a>
                <a href="http://localhost:8081/admin/searchedUser/{{dataValues.id}}">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Verificar usu치rio</button>
                </a>

            </div>
        </div>
        <hr>    
    {{/each}}
    
    <br><br>
    <a href="http://localhost:8081/admin/addUser">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Cadastrar Usu치rio</button>
    </a>    

    <a href="http://localhost:8081/admin/index">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Voltar para pagina inicial</button>
    </a>
</div>

